*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background: #192a56;
    overflow-x: hidden;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    background: white;

}
h2 {
    font-size: 5rem;
}
ul {
    display: flex;
list-style: none;
align-items: center;
}
a {
font-size: 1.2rem;
color: #000;
margin-left: 5rem;
    text-decoration: none;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    color: #fff;
    transform: translate(-50% , -50%) scale(3);
}
.sliding-text {
  width: 150px;
}

.first-page {
    height: 100vh;
    background: #192a56;
    color: #fff;
    display: flex;
justify-content: space-evenly;
  align-items: center;
}
.first-page img {
    height: 100%;

}
.home {
    height: 100vh;
}
.square {
    background: rgb(52,140,199);
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 70%;
    left: 70%;
}